@{
    ViewBag.Title = "Home Page";
}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

</script>

<table class="table table-striped table-responsive">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Cirty</th>
            <th>Actions</th>
        </tr>
    </thead>    
    </table>