@{
    ViewBag.Title = "Home Page";
}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadEmploye();
    });

    function EditEmploye(EmployeId) {

    }

    function deleteEmploye(EmployeId) {

    }



    function LoadEmploye() {
        var BindEmploye = "";
        $.ajax({
            async: true,
            type: 'GET',
            url: '/Home/GetEmploye',
            datatype: 'JSON',
            contentType: 'application/json, charset=utf-8',
            success: function (response) {
                if (response.success) {
                    $.each(response.data, function (index, value) {
                        BindEmploye = '<tr><td>' +
                            value.Name +
                            '</td><td>' +
                            value.Age +
                            '</td><td>' +
                            value.CityName +
                            '</td><td>' +
                            '<input type="Button" value="edit " onclick="EditEmploye(' + value.EmployeId + ')">||<input type="Button" value="delete " onclick="deleteEmploye(' + value.EmployeId + ')">' +
                            '</td></tr>';
                    });
                    $("#myTable").append(BindEmploye);
                }
            },
            error: function () {
                alert('There is some error occur')
            }
        })
    }


</script>

<table class="table table-striped table-responsive" id="myTable">
    
    <thead>
        <tr>
           
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>    
    </table>
<div class="container">
    <div class="form-control col-lg-6">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="Name" id="textName" />
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="Age" id="textAge" />
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" name="Name" id="textName" />
        </div>
        <div class="form-group">

            <input type="button" value="Add Employe" onclick="AddEmploye()" />
        </div>
        <div class="form-group">
            
            <input type="button" value="Reset" onclick="ResetEmploye()" />
        </div>
    </div>
</div>