
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        LoadEmploye();
        //$('#dataTable').reload();
    });

    function AddEmploye() {
        ViewModelEmploye = {
            Id: $("#textEmployeId").val(),
            Name: $("#textName").val(),
            Email: $("#textEmail").val(),
            Age: $("#textAge").val(),
           

        }

        $.ajax({
            async: true,
            type: 'POST',
            url: '/Employe/AddUpdateEmploye',
            data: JSON.stringify(ViewModelEmploye),
            datatype: 'JSON',
            contentType: 'application/json, charset=utf-8',
            success: function (data) {
                if (data.Success) {
                    $("#btnupdate").hide();
                    alert(data.Message);
                    LoadEmploye();
                    resetEmploye();
                    window.location = 'Index';

                }

            },
            error: function (error) {
                alert("There are sum error here")
            }

        })
    }
    function EditEmploye(Id) {
        $.ajax({
            async: true,
            type: 'GET',
            url: '/Employe/EditEmploye',
            data: { employeId: Id },
            datatype: 'JSON',
            contentType: 'application/json, charset=utf-8',
            success: function (data) {
                $("#textName").val(data.Name);
                $("#textEmail").val(data.Email);
                $("#textAge").val(data.Age);
                $("#textEmployeId").val(Id);
                $("#btnsave").val("Update Employe");
               
            },
            error: function (error) {
                alert("There are sum error here")
            }
        });
    }

    function DeleteEmploye(Id) {

        var employId = { employeId: Id };
        confirm("Are you sure to want to delete ");
        $.ajax({
            async: true,
            type: 'POST',
            url: '/Employe/DeleteEmploye',
            data: JSON.stringify(employId),
            datatype: 'JSON',
            contentType: 'application/json, charset=utf-8',
            success: function (data) {
                if (data.Success){

                    alert(data.Message);
                    LoadEmploye();
                    window.location = 'Index';
                }
                else {
                    alert(data.Message);
                }           

        },
            error: function (error) {
                alert("There are sum error here")
            }
            
        })

    }

    function resetEmploye() {
        $("#textEmployeId").val("");
        $("#textName").val("");
        $("#textEmail").val("");
        $("#textAge").val("");
        $("#btnsave").val("Add Employe");
    }


    function LoadEmploye() {
        //$("#SetStudentList").html('');
        $.ajax({
            async: true,
            type: 'GET',
            url: '/Employe/GetEmploye',
            datatype: 'JSON',
            contentType: 'application/json, charset=utf-8',
            success: function (StudentList) {
                console.log(StudentList)
                var SetData = $("#SetStudentList");
                $.each(StudentList, function (index, value) {
                    var Data = "<tr class='row_" + value.Id + "'>" +
                        "<td>" + value.Id + "</td>" +
                        "<td>" + value.Name + "</td>" +
                        "<td>" + value.Email + "</td>" +
                        "<td>" + value.Age + "</td>" +
                        "<td>" + '<input type="Button" class="btn btn-primary" value="Edit " onclick="EditEmploye(' + value.Id + ')"></td>' +
                        "<td>" + '<input type="Button" class="btn btn-danger" value="Delete " onclick="DeleteEmploye(' + value.Id + ')"></td>' +
                        "</tr>";
                    SetData.append(Data);
                 
                  
                });
              

            },
            error: function (StudentList) {
                alert("Some data error");
            }
        });
    }


</script>
<br />
<br />
<table class="table table-striped table-responsive" id="myTable">
    <tr>
        <td>

            <input type="text" class="form-control" placeholder="Enter Name" name="Name" id="textName" />
        </td>
        <td>

            <input type="text" class="form-control" placeholder="Enter Email" name="Age" id="textEmail" />
        </td>
        <td>

            <input type="text" class="form-control" placeholder="Enter Age" name="Age" id="textAge" />
        </td>

        <td>
        <td>

        <td>
            <input type="button" id="btnsave" class="btn btn-primary mt-2" value="Add Employe" onclick="AddEmploye()" />
           
            <input type="button" class="btn btn-success mt-2" value="Reset" onclick="resetEmploye()" />
        </td>

    </tr>

</table>
<br />

<table class="table table-bordered table-striped table-responsive table-hover" id="dataTable">

    <thead class="bg-primary text-white">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Eamil</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody id="SetStudentList">
    </tbody>
</table>
<input type="hidden" value="0" id="textEmployeId" />





